.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em;
    @include box-shadow;
    .nav-links{
        display: flex;
        align-items: center;
        gap: .75em;

        .cartbag-container{
            position: relative;

            span{
                position: absolute;
                background-color: $clr-error;
                color: $clr-neutral;
                padding: .05em .35em;
                left: -5px;
                top: -5px;
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .navbar{
        padding: .5em 1em;
        .btn{
            display: none;
        }
    }
}




