.order-summary{
    margin: 2em 0;
    h1{
        text-transform: capitalize;
        text-align: center;
    }
    .order-summary-container{
            border-radius: 1em;
            @include box-shadow;
            padding: 2em 1.5em;
        .order{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            gap: 1em;
        
            .order-img{
                width:  60px;
            }
    
            .qty{
                display: flex;
                flex-wrap: nowrap;
                gap: .25em;
                align-items: center;

                .changeQty{
                    padding: .15em .65em;
                }
            }
        }
    }
}


@media screen and(max-width: 500px) {
    .order-summary{
        margin: 1em auto;
    }
}