.products-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat( auto-fit , 16em);
    grid-auto-rows: auto;
    justify-content: center;
    gap: 1.5em;

    .product{
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1.5em;
        border-radius: 1em;
        @include box-shadow;

        img{
            height: 150px;
        }

        .flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .tag-container{
            margin: 1em 0;
        }

        .tag{
            padding: .25em .5em;
            margin: 0 .25em;
            font-size: .75rem;
        }
    }
    
}

.btn{
    padding: .65em 1.5em;
    border: none;
    background-color: transparent;
    color:$clr-primary;
    border-radius: 1em;
    border: 1px solid $clr-primary;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover,
.btn:focus{
    color: $clr-white;
    background-color: $clr-primary;
}

